/*
 * --------------------------------
 *  rdl_RNAseq Nextflow config file
 * --------------------------------
 * Config options for all environments.
 */


profiles {

  standard {
    includeConfig 'conf/base.config'
    includeConfig 'conf/genome.config'
  }

  refs {
    includeConfig 'conf/base.config'
    includeConfig 'conf/refs.config'
    includeConfig 'conf/genome.config'
  }

}

timeline {
  enabled = true
  file = 'pipeline_info/rdl_RNAseq.timeline.html'
}

report {
  enabled = true
  file = 'pipeline_info/rdl_RNAseq.report.html'
}

trace {
  enabled = true
  file = 'pipeline_info/rdl_RNAseq.trace.txt'
}

dag {
  enabled = true
  file = 'pipeline_info/rdl_RNAseq.dag.svg'
}
