/*
 * -------------------------------------------
 *  Nextflow base config file for rdl_RNAseq
 * -------------------------------------------
 * Imported under the default 'standard' Nextflow
 * profile in: nextflow.config
 */
params {

  container = 'shub://brucemoran/Singularity:rnaseq_star-kallisto_references'
  multiqcConfig = "$baseDir/bin/rdl_RNAseq.multiQC_config.yaml"

}

process {

  container = params.container

}
