/*
 * ----------------------------------------------------------
 *  Nextflow config file for Genome HPC cluster (PBS/Torque)
 * ----------------------------------------------------------
 * Imported under the 'genome' Nextflow profile in:
 * nextflow.config
 */

singularity {

  enabled = true
  autoMounts = true

  //set below to cache for Singularity
  cacheDir = "/data/genome/bmoran/singularity"

  //set below to the root on your filesystem that you are using to run analysis
  runOptions = "--bind /data/genome/bmoran:/data/genome/bmoran"

}

params {

  //set reference dir to false to allow inclusion of separate inputs
  //when defined, this automatically collects those made by reference making software
  refsDir = false

  //set the readLength input for STAR, here index for STAR is found in STAR_99 dir
  readLength = 99

  //program-specific parameters
  bbdkmerx = 31
  bbdmink = 5
  bbdqtrim = 20

  //executing within Singularity so we can hard-code
  bbmapAdapters = "/usr/local/bbmap/resources/adapters.fa"

  //this is pulled into the multiqc container
  multiqcconfig = "/usr/local/multiqc_config_BMB.yaml"

  //NB that task.memory causes some tools to fail, so using these predefs here
  full_javamem = "-Xmx120g"
  half_javamem = "-Xmx60g"
  quarter_javamem = "-Xmx30g"
  eighth_javamem = "-Xmx15g"
  twentieth_javamem = "-Xmx5g"

}

process {

  //exectued on PBS
  executor = "pbs"
  cache = "lenient"

  //containers per process
  withName:bbduk {
    container = "shub://brucemoran/Singularity:bbduk.centos7"
  }
  withName:fastp {
    container = "shub://brucemoran/Singularity:fastp.centos7"
  }
  withName:multiqc {
    container = "shub://brucemoran/Singularity:multiqc.centos7"
  }
  withName:star {
    container = "shub://brucemoran/Singularity:star.centos7"
  }
  withName:mrkdup {
    container = "shub://brucemoran/Singularity:picard-tools.centos7"
  }
  withName:picmet_kallisto {
    container = "shub://brucemoran/Singularity:picard-tools.centos7"
  }
  withName:jupyter {
    container = "library://bruce.moran/default/projects:jupyter_rnaseq"
  }
  //resources
  withLabel: full_cpu_mem {
      cpus = 40
      memory = 120.GB
  }
  withLabel: half_cpu_mem {
      cpus = 20
      memory = 60.GB
  }
  withLabel: quarter_cpu_mem {
      cpus = 10
      memory = 30.GB
  }
  withLabel: sixth_cpu_mem {
      cpus = 8
      memory = 24.GB
  }
  withLabel: eighth_cpu_mem {
      cpus = 5
      memory = 15.GB
  }
  withLabel: twentieth_cpu_mem {
      cpus = 2
      memory = 6.GB
  }
}
